.activeSex {
  border: 1px solid #007bff;
  border-radius: 3px;
  transform: scale(1.2);
}

.genderIcon {
  width: 40px;
  height: 40px;
  padding: 1px;
}

.genderIconMale {
  margin-right: 10px;
}

.genderIconFemale {
  margin-left: 10px;
}
